Package: com.glossypanther.veexillumextend
Name: Veexillum - Extension
Version: 1.0
Architecture: iphoneos-arm
Description: Extension to Veexillum
Depiction: http://glossypanther.com
Homepage: http://glossypanther.com
Maintainer: GlossyPanther <admin@glossypanther.com>
Author: Billy Rees <admin@glossypanther.com>
Section: Themes
