Package: com.glossypanther.veexextend
Name: Veexillum - Extensions
Version: 0.4.2
Architecture: iphoneos-arm
Description: Extension for Veexillum
Depiction: http://glossypanther.com
Homepage: http://glossypanther.com
Maintainer: GlossyPanther <cydia@glossypanther.com>
Author: GlossyPanther <cydia@glossypanther.com>
Section: Themes
